{% extends "admin/doctor/doctor.html" %}

{% block content %}

<fieldset><legend>ADD DOCTOR</legend>
   <form method="POST" action="{% url 'updatedoctor' id=form.id %}">

       {% csrf_token %}
       <table><tr>

           <td> Name </td><td>:</td><td><input type="text" value="{{ form.name }}" /></td></tr>
           <tr> <td>Speciality </td><td>:</td><td><input type="text" value="{{ form.speciality }}" /></td></tr>
           <tr><td> Image </td><td>:</td><td><input type="file" value="{{ form.picture.url }}" /></td></tr>
           <input type="submit" value="Save">
       </table>
   </form>
</fieldset>
{% endblock %}


